.main-heading{
    color:"red";
    background-color: darksalmon;
    
}
.main-heading2{
    color:green;
    background-color:rgb(192, 244, 87);
    
}
.para-style{
    font-size:"2rem";
    color:blue
}
