.App {
  text-align: center;
}

.div1{
  height: 20px;
  width: 30px;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
  display:inline;
}
.div2{
  align-items: flex-start;
  display:inline;
  margin:40px;

}
